body {
    text-align: center;
    background-color: #1E1B1C;
}

header img{
    width: 50%;
    height: auto;
}

nav {
    background-color: blueviolet;
    font-size: 30px;
    border: 5px solid rgb(206, 179, 255);
    
}

nav h1{
    color: rgb(206, 179, 255);
}

nav a{
    color: rgb(206, 179, 255);
    text-decoration: none;
}

nav a:hover{
    color: black;
}

footer a img{
    width: 4%;
    height: auto;
}

footer h3{
    color: rgba(140, 131, 148, 0.596);
}